<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sineva.rosapidemo">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SinevaApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@mipmap/robot"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChooseActivity" />
        <activity android:name=".activity.BottomControlActivity" />
        <activity android:name=".activity.HeadControlActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.LidarActivity" />
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.BaseSettingActivity" />
        <activity android:name=".activity.WelcomeSettingActivity" />
        <activity android:name=".activity.GuestSettingActivity" />
        <activity android:name=".activity.TourGuideActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.CreateMapActivity" />
        <activity android:name=".activity.MapSettingActivity" />
        <activity android:name=".activity.EditSequenceActivity" />
        <activity android:name=".activity.OperationActivity" />

        <receiver android:name=".widget.RobotControllerWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.sineva.widget.UPDATE_ALL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/robotcontroller_widget_info" />
        </receiver>
        <receiver android:name=".receiver.RobotReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.SLAMAppWidgetService">
            <intent-filter>
                <action android:name="android.appwidget.action.SLAM_APP_WIDGET_SERVICE" />
            </intent-filter>
        </service>

        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.HandleActivity" />
        <activity android:name=".activity.Handle2Activity" />
        <activity android:name=".activity.WifiSetActivity" />
        <activity android:name=".activity.DevModeActivity" />
        <activity android:name=".activity.AskSettingActivity" />
        <activity android:name=".activity.GuideSettingActivity" />
        <activity android:name=".activity.ExplanationActivity" />
        <activity android:name=".activity.ChargeImgSetActivity" />
        <activity android:name=".activity.ChargeActivity" />
        <activity android:name=".activity.InitialPointActivity" />
        <activity android:name=".activity.InMotionActivity" />
        <activity android:name=".activity.LedImgSetActivity" />
        <activity android:name=".activity.SingleControlActivity" />
        <activity android:name=".activity.TargetCheckActivity"></activity>
    </application>

</manifest>