<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sineva.rosapidemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".SinevaApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@mipmap/robot"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoadInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sineva.rosapidemo.activity.ChooseActivity" />
        <activity android:name="com.sineva.rosapidemo.activity.MoveBaseActivity" />
        <activity android:name="com.sineva.rosapidemo.activity.HeadActivity" />
        <activity android:name="com.sineva.rosapidemo.activity.MapActivity" />
        <activity android:name="com.sineva.rosapidemo.activity.LidarActivity" />
        <activity android:name="com.sineva.rosapidemo.activity.CameraActivity" />
        <activity android:name="com.sineva.rosapidemo.activity.BaseSettingActivity" />
        <activity android:name="com.sineva.rosapidemo.activity.WelcomeSettingActivity" />
        <activity android:name="com.sineva.rosapidemo.activity.AskSettingActivity" />
        <activity android:name="com.sineva.rosapidemo.activity.TourGuideActivity" />
        <activity android:name="com.sineva.rosapidemo.activity.MainActivity" />
        <activity android:name=".activity.CreateMapActivity" />
        <activity android:name=".activity.LocalMapActivity" />
        <activity android:name=".activity.EditSequenceActivity" />
        <activity android:name=".activity.OperationActivity" />
        <activity android:name=".activity.AboutUsActivity" />

        <receiver android:name=".widget.RobotControllerWidgetProvider">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.sineva.widget.UPDATE_ALL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/robotcontroller_widget_info" />

        </receiver>

        <receiver android:name=".receiver.RobotReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.SLAMAppWidgetService">
            <intent-filter>
                <action android:name="android.appwidget.action.SLAM_APP_WIDGET_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>