<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sineva.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sineva.myapplication.MoveBaseActivity" />
        <activity android:name="com.sineva.myapplication.HeadActivity" />
        <activity android:name="com.sineva.myapplication.ChooseActivity" />
        <activity android:name="com.sineva.myapplication.BatteryAndSonarActivity" />
        <activity android:name="com.sineva.myapplication.LidarActivity" />
        <activity android:name="com.sineva.myapplication.MapActivity" />
        <activity android:name="com.sineva.myapplication.CameraActivity" />
    </application>

</manifest>